extends ../template/layout

block content
  .row
    .large-6.large-offset-1.small-12.columns
      h3.subheader
        span
          a(href='/admin/users') Users:
        span= ' (' + userCount + ')'