extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .large-4.small-12.columns
      include profile-form
    .large-4.small-12.columns
      include profilepic-form
    .large-4.small-12.columns