form#authentication(action='/', method='post')
  fieldset
    legend Authentication
    .row
      .large-6.medium-6.small-12.columns
        label(for="email") Email Address:
        input(type="text", name="email")
      .large-6.medium-6.small-12.columns
        label(for="password") Password:
        input(type="password", name="password")
    .row
      .large-9.medium-9.small-12.columns: p#login-error.error-text
      .large-3.medium-3.small-4.small-offset-8.columns: button#login.radius.success.small.expand Login
