form#registration(action='/', method='post')
  fieldset
    legend Registration
    .row
      mixin field(12, 'text', 'email', 'Email Address')
    .row
      mixin field(12, 'password', 'password', 'Password')
    .row
      mixin field(12, 'password', 'password2', 'Re-type password')
    .row
      .small-12.columns: button#register.radius.success.tiny Register
    .row
      .small-12.columns
        p#register-error.error-text
