form#registration(action='/', method='post')
  fieldset
    legend Registration
    .row
      .large-6.medium-6.small-12.columns
        label(for="email") Email Address:
        input(type="text", name="email")
    .row
      .large-6.medium-6.small-12.columns
        label(for="password") Password:
        input(type="password", name="password")
      .large-6.medium-6.small-12.columns
        label(for="password") Re-Enter Password:
        input(type="password", name="password2")
    .row
      .large-9.medium-9.small-12.columns: p#register-error.error-text
      .large-3.medium-3.small-4.small-offset-8.columns: button#register.radius.success.small.expand Register