head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/foundation/scss/normalize.css")
  link(rel="stylesheet", href="/stylesheets/foundation/scss/foundation.css")
  link(rel="stylesheet", href="/stylesheets/app.css")
  script(src="/javascripts/vendor/custom.modernizr.js")
