.contain-to-grid.fixed
  nav.top-bar
    ul.title-area
      li.logo
        a(href="/")
          img(src='/images/slice-1.png')
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu

    section.top-bar-section
      ul.left
        li.divider
        li: a(href="/profile") My Profile
        li.divider
        li: a(href="/posts") Posts
        li.divider
      ul.right
        if user && user.isAdmin
          li.divider
          li: a(href="/admin") Admin
        li.divider
        if user
          li: span.username= user.email
          li.divider
          li: a#logout-button(href="#") Logout
          li.divider
        else
          li: a(href="/register") Register
          li.divider
          li: a(href="/login") Login
          li.divider

.row
  .small-12.columns
    h3= heading
