script(src="/javascripts/vendor/jquery.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/fastclick.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/spin.min.js")
script(src="/javascripts/app/utilities.js")
script(src="/javascripts/app/main.js")

