script(src="/javascripts/vendor/jquery.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/fastclick.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/app/utilities.js")
script(src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js")
script(src="/javascripts/app/main.js")

